---
layout: default
---
<div class="home">
	{% capture home_include %}{% include home-begin.md %}{% endcapture %}
	{{ home_include | markdownify }}
	<h2>posts</h2>
	<ul class="post-list">
		{% for post in site.posts limit:5 %}
		<li>
			<time datetime="{{ post.date | date_to_xmlschema }}">{{ post.date | date: "%b %d, %Y" }}&nbsp;</time>
			<a href="{{ post.url | prepend: site.baseurl }}">{{ post.title }}</a>
		</li>
		{% endfor %}
	</ul>
	<p><a href="{{ "/archives/" | prepend: site.baseurl }}">view more...</a></p>
	{% capture home_include %}{% include home-end.md %}{% endcapture %}
	{{ home_include | markdownify }}
</div>
