/**
 * Site header
 */
.site-header {
    border-bottom: 1px solid $grey-color-light;
    text-align: center;
    padding: 1rem 1.5rem;
}

.site-footer {
    border-top: 1px solid $grey-color-light;
    text-align: center;
    padding: 0.5rem 1.5rem;
    font-size: small;
    font-family: $serif-font-family;
}

.site-title {
    font-size: 1.7rem;
    font-weight: 300;
    letter-spacing: .03em;
    word-spacing: .1em;
    color: $grey-color-dark;
    font-family: $serif-font-family;

    &,
    &:hover {
        text-decoration: none;
    }
}



/**
 * Page content
 */
.page-content {
    position: relative;
    max-width: 48rem;
    padding: $spacing-unit ($spacing-unit * 0.75);
    margin: 0 auto;
    box-sizing: border-box;
}



/**
 * Pages
 */
.home {
    p + h2 {
        margin-top: $spacing-unit;
    }
}

.home h2 {
    text-transform: lowercase;
    font-variant: small-caps;
    letter-spacing: .03em;
    word-spacing: .1em;

    &::first-letter {
        text-transform: uppercase;
    }
}

.post-list > li {
    margin-bottom: $spacing-unit / 4;

    @include media-query($on-palm) {
        time {
            display: block;
            font-size: $small-font-size;
        }
    }
}

.pagination {
    letter-spacing: -.03em;
    word-spacing: .2em;
    font-size: small;
}

/**
 * Posts
 */
.post-header {
    margin-bottom: $spacing-unit;
}

.post-title {
    font-size: 2rem;
    line-height: 1;
    font-family: $serif-font-family;
}

.post-meta {
    font-size: $small-font-size;
    color: $grey-color;
}

.post-content {
    margin-bottom: $spacing-unit;

    h1, h2, h3,
    h4, h5, h6 {
        margin-top: 2rem;
    }

    h1,
    h2 {
        font-size: 2rem;
    }

    h3 {
        font-size: 1.5rem;
    }

    h4 {
        font-size: 1.25rem;
    }

    h5,
    h6 {
        font-size: 1rem;
    }
}
