<!DOCTYPE html>
<html>
  {% include head.html %}
  <body>
    <header class="site-header">
      <a class="site-title" href="{{ site.baseurl }}/">{{ site.title }}</a>
    </header>
    <div class="page-content">
      {{ content }}
    </div>
    <div class="site-footer">&copy; {% if site.fromyear %}{{ site.fromyear }}-{% endif %}{{ site.time | date: '%Y' }} {{ site.title }}, {{ site.author }}</div>
    <div id="outdated">
         <h6>Your browser is out-of-date!</h6>
         <p>Update your browser to view this website correctly. <a id="btnUpdateBrowser" href="https://www.google.com/chrome/">Update my browser now </a></p>
         <p class="last"><a href="#" id="btnCloseUpdateBrowser" title="Close">&times;</a></p>
    </div>
    <script src="/outdated/outdatedbrowser.min.js"></script>
    <script>
        //event listener form DOM ready
        function addLoadEvent(func) {
            var oldonload = window.onload;
            if (typeof window.onload != 'function') {
                window.onload = func;
            } else {
                window.onload = function() {
                    if (oldonload) {
                        oldonload();
                    }
                    func();
                }
            }
        }
        //call function after DOM ready
        addLoadEvent(function(){
            outdatedBrowser({
                bgColor: '#f25648',
                color: '#ffffff',
                lowerThan: 'boxShadow',
                languagePath: ''
            })
        });
    </script>
    {% include ga.html %}
    {% include latex.html %}
  </body>
</html>
